body
{
    background-color: #002424;
    margin: 0px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#container
{
    position: relative;
    top: 150px;
    display: block;
    margin: auto;
    height: 450px;
    width: 800px;
    text-align: center;
}

#counters
{
    width: 200px;
    height: 76px;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
    position: absolute;
}

#counters span
{
    width: 50%;
    float: left;
    margin-top: 5px;
}

#CorrectCodeCounter
{
    color: greenyellow;
    text-align: right;
}

#IncorrectCodeCounter
{
    color: orangered;
    text-align: right;
}

#MessageBox
{
    position: absolute;
    top: -80px;
    left: 30%;
    margin: auto;
    width: 770px;
    height: 80px;
    transition-duration: 1000ms;
}

#Message
{
    width: 750px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 30px;
    padding: 10px 10px 0px 10px;
    transition-duration: 1000ms;
}

#lock
{
    position: relative;
    top: 40px;
    width: 720px;
    height: 340px;
    margin: auto;
    border-radius: 6px 6px 0px 0px;
    background-color: #003636;
}

#Dig_1, #Dig_2, #Dig_3
{
    float: left;
    position: relative;
    top: 30px;
    width: 200px;
    height: 300px;
    margin: auto 20px;
    text-align: center;
    line-height: 280px;
    border-radius: 4px;
    font-size: 200px;
    color: #fff;
    background-color: #004848;
    overflow: hidden;
}

.digit
{
    position: absolute;
    width: 200px;
    height: 300px;
    text-align: center;
    line-height: 280px;
    border-radius: 4px;
    font-size: 200px;
    color: #fff;
    background-color: #004848;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

#Submit
{
    position: relative;
    top: 40px;
    margin: auto;
    width: 720px;
    height: 40px;
    background-color: #003636;
    color: white;
    border-radius: 0px 0px 10px 10px;
    padding-top: 10px;
    font-size: 29px;
    transition-duration: 300ms;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

#Submit:hover
{
    background-color: #004848;
}

#Submit:active
{
    background-color: #006060;
}

#D_1_N_0, #D_2_N_0, #D_3_N_0
{
    top: -300px;
    z-index: 1;
    transition-duration: 250ms;
}

#D_1_N_1, #D_2_N_1, #D_3_N_1
{
    top: 0px;
    z-index: 1;
    transition-duration: 250ms;
}

#D_1_N_2, #D_2_N_2, #D_3_N_2
{
    top: 300px;
    z-index: 0;
    transition-duration: 250ms;
}